* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
html,
body {
    background: #fff;
    color: #000;
    font-size: 18px;
    font-family: Tahoma;
}

div {
    position: relative;
}

.clear {
    clear: both;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

/* --------------------------------------------- */

.app-title {
    font-style: italic;
    padding-left: 10px;
    color: #1890ff;
    text-align: center;
}

.restaurant-container {
    margin-bottom: 30px;
    padding-left: 20px;
}

.restaurant-title {
    margin-left: 20px;
    color: #070329;
    font-style: italic;
    display: inline-block;
}

.order-form-container,
.filter-container {
    text-align: center;
}

.reviews-container,
.review-container,
.restaurant-menu-container,
.dish-container {
    margin: 10px 0;
}
